.goods_area1 {
    text-align: center;
    background: white;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 0;
    height: 300px;
    width: 220px;
}

.goods_image {
    height: 80%;
    width: 100%;
}

.goods_description {
    margin-top: 4px;
    color: black;
}

.goods_cost {
    margin-top: 0;
    color: red;
}

.goods_area2 {
    text-align: center;
    background: white;
    margin-left: 0;
    margin-top: 20px;
    margin-right: 5px;
    height: 300px;
    width: 220px;
}

.goods_test{
    border: 1px solid #0c5460;
}

.goods_menu {
    color: black;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(241, 241, 241);
}

.goods_padding {
    height: 5px;
    background: black;
}

.goods_display {
    width: 70%;
    float: left;
    background: black;
    color: white;
}

.goods_indexdisplay {
    border-left: 1px solid #FFFFFF;
    width: 30%;
    float: right;
    background: black;
    color: white;
}

.blackbox {
    margin-left: 25px;
    margin-top: 9px;
}

.goods_best {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 74%;
    color: white;
    background-image: linear-gradient(to right, #ff9569 0%, #e92758 100%);
}


.goods_display_image {
    margin-left: 3px;
    border-radius: 10px;
}

.goods_display_des {
    color: black;
    background: white;
}

.goods_des1 {
    margin-top: 5px;
    margin-left: 10px;
}

.goods_des1_1{
    float: left;
    border-radius: 10px;
    background:#FFEFCC8C;
    width: 140px;
    color:chocolate;
}

.goods_des1_2{
    margin-right: 280px;
    float: right;
    border-radius: 10px;
    background:#FFEFCC8C;
    width: 70px;
    color:chocolate;
}

.goods_des2 {
    float: left;
    border-radius: 10px;
    color: black;
    margin-top: 5px;
    margin-left: 10px;
    background-image: linear-gradient(to right, #ff9569 0%, #e92758 100%);
    width: 100px;
}

.goods_des2_1{
    margin-top: 8px;
    float: right;
    margin-right: 280px;
}

.goods_des3{
    font-size: 16px;
    margin-top: 20px;
    margin-left: 12px;
    word-wrap: break-word;
    color: black;
    float: left;
    width: 360px;
}

.goods_des3_1{
    float: right;
    width: 100px;
}

.goods_bottom{
    color: black;
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
}

.goods_buy {
    margin-left: 80%;
    margin-top: 10%;
    margin-bottom: 1%;
}


.modalgoodsbuy {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}


.usr_coupon {
    height: 600px;
}

.buy_button {
    height: 100px;
}


.modalgoodsimage {
    width: 20rem;
    height: 30rem;
    margin-left: 20px;
    margin-top: 20px;
}

.modalgoodscontainer {
    width: 50%;
    float: left;
}

.demo_line_01 {
    padding: 0 20px 0;
    margin: 20px 0;
    line-height: 1px;
    border-left: 190px solid #ddd;
    border-right: 190px solid #ddd;
    text-align: center;
}

.topbody {
    height: 40%;
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.bottombody {
    position: relative;
    top: 350px;
    border: 1px dashed #000;
}

.couponlist {
    margin-left: 20px;
    width: 33.33%;
    border: 1px dashed #000;
}
