
#header > #h-bottom .navbar-nav li {
	float: left;
}

#header > #h-bottom .navbar-nav li a {
	padding: 0;
	font-size: 18px;
	font-weight: 700;
	color: #555;
	margin: 20px 5px;
	display: block;
	text-decoration: none;
	font-family: "微软雅黑";
}

#header > #h-bottom .navbar-nav li a:hover {
	color: #f10215;
	text-decoration: none; 
}

/*首页热门图片css*/
#header > #h-bottom .col-md-2 {
	margin-left: -37px;
}
#header > #h-bottom #t_back {
	margin-left: -37px;
}

/*首页广告图片css*/
#silder #silder_ad > .ad_picture {
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
}

#silder #silder_ad > .ad_picture div {
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 2px;
} 

#silder  #silder-rh {
	padding-right: 0;
}

/*首页新闻列表css*/
#silder  #silder-rh > .silder_news {}

#silder  #silder-rh > .silder_news > .nav-tabs {
	margin-top: 10px;
}

#silder  #silder-rh > .silder_news > .tab-content {
	margin-top: 10px;
}

#silder  #silder-rh > .silder_news > .tab-content > .tab-pane a {
	white-space: nowrap;
	text-decoration: none;
	color: #f10215;
}

/*首页选择项css*/
#silder  #silder-rh > .silder_chioce {}

#silder  #silder-rh > .silder_chioce i {
	font-size: 24px;
	color: #f10215; 
}

#silder  #silder-rh > .silder_chioce span {
	white-space: nowrap;
}

/*首页用户个人中心css*/
#userCenter_box {}

#userCenter_box > .userCenter-ad {
	background: url("../images/13.png") no-repeat;
	height: 55px;
	line-height: 55px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 10px auto;
}

#userCenter_box > .userCenter-ad  .userCenterBox-lf > .kb-coll1 {
	float: left;
	font-size: 35px;
	color: #fff;
	margin-top: 10px;
	padding: 0;
}

#userCenter_box > .userCenter-ad  .userCenterBox-lf > .kb-coll2 {
	margin-top: 18px;
	color: #fff;
	white-space: nowrap;
}

#userCenter_box > .userCenter-ad  .userCenterBox-lf > .sk_time {
	font-size: 16px;
	color: #fff;
}

#userCenter_box > .userCenter-ad  .userCenterBox-lf > .sk_time > span {
	background-color: #000;
	font-size: 24px;
	white-space: nowrap;
}

#userCenter_box > .userCenter-ad  .userCenterBox-rh  .kb-coll3 {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	white-space: nowrap;
}

@media screen and (min-width:100px) and (max-width:400px) {
	#userCenter_box > .userCenter-ad  .userCenterBox-lf > .kb-coll1 {
		display: none;
	}

	#userCenter_box > .userCenter-ad  .userCenterBox-lf > .sk_time  {
		font-size: 16px;
		white-space: nowrap;
	}

	#userCenter_box > .userCenter-ad  .userCenterBox-rh  .kb-coll3 {
		font-size: 12px;
	}
}

/*个人中心内容*/
#userCenter_box > .userCenter-content .sk_product {}

#userCenter_box > .userCenter-content .sk_product .sk_name {
	font-size: 12px;
	height: 35px;
	overflow: hidden;
	margin-top: 5px;
	color: #999;
	text-decoration: none;
}

#userCenter_box > .userCenter-content .sk_product {
	margin-bottom: 20px;
}

#userCenter_box > .userCenter-content .sk_product > .sk-item span {
	font-size: 18px;
	font-weight: 700;
	color:  #f10215;
}

#userCenter_box > .userCenter-content .sk_product > .sk-item del {
	color: #999;
}

#userCenter_box > .userCenter-content .sk_product > .sk-item:hover  {
	text-decoration: none; 
}

#userCenter_box > .userCenter-content .sk_product > .sk-item:hover .sk_name  {
	color: #f10215; 
}

/*首页用户个人中心css*/
#userCenter_box2 {}

#userCenter_box2 > .userCenter-ad {
	background: url("../images/13.png") no-repeat;
	height: 55px;
	line-height: 55px;
	padding-right: 15px;
	padding-left: 15px;
	margin: 10px auto;
}

#userCenter_box2 > .userCenter-ad  .userCenterBox-lf > .kb-coll1 {
	float: left;
	font-size: 35px;
	color: #fff;
	margin-top: 10px;
	padding: 0;
}

#userCenter_box2 > .userCenter-ad  .userCenterBox-lf > .kb-coll2 {
	margin-top: 18px;
	color: #fff;
	white-space: nowrap;
}

#userCenter_box2 > .userCenter-ad  .userCenterBox-lf > .sk_time {
	font-size: 16px;
	color: #fff;
}

#userCenter_box2 > .userCenter-ad  .userCenterBox-lf > .sk_time > span {
	background-color: #000;
	font-size: 24px;
	white-space: nowrap;
}

#userCenter_box2 > .userCenter-ad  .userCenterBox-rh  .kb-coll3 {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	width: 100%;
	white-space: nowrap;
}

@media screen and (min-width:100px) and (max-width:400px) {
	#userCenter_box2 > .userCenter-ad  .userCenterBox-lf > .kb-coll1 {
		display: none;
	}

	#userCenter_box2 > .userCenter-ad  .userCenterBox-lf > .sk_time  {
		font-size: 16px;
		white-space: nowrap;
	}

	#userCenter_box2 > .userCenter-ad  .userCenterBox-rh  .kb-coll3 {
		font-size: 12px;
	}
}

/*个人中心内容*/
#userCenter_box2 > .userCenter-content .sk_product {}

#userCenter_box2 > .userCenter-content .sk_product .sk_name {
	font-size: 12px;
	height: 35px;
	overflow: hidden;
	margin-top: 5px;
	color: #999;
	text-decoration: none;
}

#userCenter_box2 > .userCenter-content .sk_product {
	margin-bottom: 20px;
}

#userCenter_box2 > .userCenter-content .sk_product > .sk-item span {
	font-size: 18px;
	font-weight: 700;
	color:  #f10215;
}

#userCenter_box2 > .userCenter-content .sk_product > .sk-item del {
	color: #999;
}

#userCenter_box2 > .userCenter-content .sk_product > .sk-item:hover  {
	text-decoration: none;
}

#userCenter_box2 > .userCenter-content .sk_product > .sk-item:hover .sk_name  {
	color: #f10215;
}

/*展示*/
#product {}

#product > .cd-main-content {
    position: relative;
    z-index: 1;

}

#product > .cd-main-content > .cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  background-attachment: fixed;
}

.cd-fixed-bg.cd-bg-1 {
  background-image: url("../images/cd-background-1.jpg");
}
.cd-fixed-bg.cd-bg-2 {
  background-image: url("../images/cd-background-2.jpg");
}

.btnbackground{
	/*color: #ffffff;*/
	/*border: 1px solid silver;*/
	/*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);*/
	/*!*box-shadow: inset 10px 3px 15px rgba(0, 0, 0, 0.21);*!*/
}

#product > .cd-main-content > .cd-fixed-bg h2 {
	margin-top: 0;
	padding-top: 40px;
	color: #fff;
}

#product > .cd-main-content > .cd-fixed-bg .product-list {
	margin-top: 70px;
}

#product > .cd-main-content > .cd-fixed-bg .product-list > .product-nav {
	margin-bottom: 5px;
}

#product > .cd-main-content > .cd-fixed-bg .product-list div,a {
	overflow: hidden;
}

#product > .cd-main-content .product-list .product-top .product-detail {
	padding: 0;
	padding-left: 15px;
}

@media screen and (min-width:100px) and (max-width:992px) {
	#product > .cd-main-content .product-list .product-top .product-detail {
	padding: 0;
    }
}

#product > .cd-main-content .product-list .product-top .product-detail a {
	background-color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	color: #974676;
}

#product > .cd-main-content .product-list .product-top a:hover img {
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	transition: transform 0.35s;
}

#product > .cd-main-content .product-list .product-bottom div:hover img {
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	transition: transform 0.35s;
}

#product > .cd-main-content .product-list .product-top .product-detail a + a {
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#product > .cd-main-content .product-list .product-top .product-detail a:hover {
	color: #f10215; 
}

#product > .cd-main-content > .cd-fixed-bg .product-list .product-bottom {
	margin-top: 10px;
}

#product > .cd-main-content > .cd-fixed-bg .product-list .product-footer  div {
	/*background-color: #fff;*/
	margin-top: 10px;
}

#product > .cd-main-content > .cd-fixed-bg .product-list .product-footer div + div {
	border-left: 1px solid #ccc;
	margin-bottom: 100px;
}

/*更多*/
#more {}

#more .container .row {
	margin-bottom: 20px;
}

#more > .more-title {
	margin-bottom: 30px;
}

#more .more-product .more-item {
	color: #f10215;
	text-decoration: none;
	position: relative;
}

#more .more-product .more-item img {
	width: 100%;
}

#more .more-product .more-item p {
	display: block;
	color: #666;
	height: 40px;
	margin-top: 10px;
	overflow: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#more .more-product .more-item:hover p {
	height: 40px;
	overflow: hidden;
	text-align: center;
	font-weight: 700;
	color: #fff;
	background: rgba(113,123,161, 0.9);
}

#more .more-product .more-item span {
	font-size: 16px;
	font-weight: 700;
}

#more .more-p {
	color: #f10215;
	text-decoration: none;
	cursor: pointer;
	margin-left: 50%;
}
/*首页轮播图下方控件css*/
.ad_picture{
	position:relative;
	top:-20px;
	left: 2%;
	right: 2%;
	width: 96%;
	border-radius: 20px;
	background-color: #ffffff;
	z-index: 99;
	box-shadow: 2px 2px 2px #888888;
}
.label_h{
	font-size: 4px;
}
/*首页碳积分-绿色出行部分css*/
.scordBackground1{
	background-image: url("../images/cscord_1.png");
	background-repeat:no-repeat;
	background-size:100% 101%;
	-moz-background-size:100% 101%;
	border-radius: 15px 0px 0px 15px;
}

.scordBackground2{
	background-image: url("../images/cscord_2.png");
	background-repeat:no-repeat;
	background-size:100% 101%;
	-moz-background-size:100% 101%;
}
.scordBackground3{
	background-image: url("../images/cscord_3.png");
	background-repeat:no-repeat;
	background-size:100% 101%;
	-moz-background-size:100% 101%;
	border-radius: 0px 15px 0px 0px;
}
.scordBackground4{
	background-image: url("../images/cscord_4.png");
	background-repeat:no-repeat;
	background-size:100% 101%;
	-moz-background-size:100% 101%;
}
.scordBackground5{
	background-image: url("../images/cscord_5.png");
	background-repeat:no-repeat;
	background-size:100% 101%;
	-moz-background-size:100% 101%;
	border-radius: 0px 0px 15px 0px;
}


.imageinput-button{
	color:#fff;
	position: relative;
	display: inline-block;
	overflow: hidden;
	height: 7rem;
	cursor: pointer;
}

.imageinput-button:not([disabled]):not(.disabled):not(.btn-link):hover, .btn:not([disabled]):not(.disabled):not(.btn-link):focus {
	color: #fff;
	text-decoration: none;
	-webkit-transform: translate3d(0, -3px, 0);
	transform: translate3d(0, -3px, 0);
}
.scordBackground1.imageinput-button:not([disabled]):not(.disabled):not(.btn-link):active {
	color:#fff;
	text-decoration: none;
	-webkit-transform: translate3d(0, -1px, 0);
	transform: translate3d(0, -1px, 0);
	background-image: url("../images/cscord_1.png");
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.scordBackground2.imageinput-button:not([disabled]):not(.disabled):not(.btn-link):active {
	color:#fff;
	text-decoration: none;
	-webkit-transform: translate3d(0, -1px, 0);
	transform: translate3d(0, -1px, 0);
	background-image: url("../images/cscord_2.png");
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.scordBackground3.imageinput-button:not([disabled]):not(.disabled):not(.btn-link):active {
	color:#fff;
	text-decoration: none;
	-webkit-transform: translate3d(0, -1px, 0);
	transform: translate3d(0, -1px, 0);
	background-image: url("../images/cscord_3.png");
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.scordBackground4.imageinput-button:not([disabled]):not(.disabled):not(.btn-link):active {
	 color:#fff;
	 text-decoration: none;
	 -webkit-transform: translate3d(0, -1px, 0);
	 transform: translate3d(0, -1px, 0);
	 background-image: url("../images/cscord_4.png");
	 outline: 0;
	 -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
 }
.scordBackground5.imageinput-button:not([disabled]):not(.disabled):not(.btn-link):active {
	color:#fff;
	text-decoration: none;
	-webkit-transform: translate3d(0, -1px, 0);
	transform: translate3d(0, -1px, 0);
	background-image: url("../images/cscord_5.png");
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.imageinput-button[disabled] {
	cursor: not-allowed;
}
.imageinput_icon{
	margin-top: 6px;
	margin-bottom: 3px;
}
/*首页个人中心css*/
.owner-font-size{
	font-size:15px;
	color: #21b20d;
}
.ad_picture{
	position:relative;
	top:-10px;
	left: 2%;
	right: 2%;
	width: 96%;
	border-radius: 10px;
	background-color: #fdfff8;
	z-index: 99;
}
.label_h{
	font-size: 4px;
}
